body{
  background-image: url("https://images.unsplash.com/photo-1598246038704-74ffbadf5307?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=353&q=80");
  background-size: cover;
  font-family: 'Nanum Gothic', sans-serif;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="text"] {
  font-size:20px;
}

.form-card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
}
#questions-form {
  display: grid;
  gap: 20px;
}



.feedback
{
  margin-top:3%;
  text-align: center;
}


.feedback input
{
  padding-left:25%;
}

.centerize
{
margin-left:44%
}

.feedbackmsg
{
border: 1px solid gray;

margin:1%;
}

.boxShadow
{
  box-shadow: 1px 2px;

}